#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  box-sizing: border-box;
  flex: 1;
}

.button {
  background-color: #FF6E00;
  color: #fff;
  border-radius: 22px;
  border: none;
  margin-left: 10px;
}

.button:hover {
  box-shadow: 0 2px 2px #C84F29;
}

.container-main {
  padding-top: 3rem;
}

.pdp-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
}

.pdp-top {
  display: flex;
  gap: 80px;
}

@media (max-width: 720px) {
  .pdp-top {
    flex-direction: column;
    gap: 10px;
  }
}